
/* App container styling */
.app-container {
  display: flex ;
  min-height: 100vh ;
}
a{
  text-decoration: none;
}
.content-container {
  flex-grow: 1;
  overflow-y: auto; /* Add this if you want the content to be scrollable */
}


/* general modal styles

.modal-header{
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

table  th{
  font-size: 15px;
}

table td{
  font-size: 15px;
} */

.react-datepicker-wrapper{
  width:100%;
}