
/* App container styling */
.app-container {
  display: flex ;
  min-height: 100vh ;
}
a{
  text-decoration: none;
}
.content-container {
  flex-grow: 1;
  overflow-y: auto; 
  margin-left: 250px; /* Adjust this value based on the sidebar width */
  padding: 1px; /* add padding to space sidebar and mai content depending on preference*/
}


/* general modal styles */

.modal-header{
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

table  th{
  font-size: 15px;
}

table td{
  font-size: 15px;
} */

.react-datepicker-wrapper{
  width:100%;
}
