/*-------------------------------------------------------------- 
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}
 a {
  color: #1e88e5;
  text-decoration: none;
}
a:hover {
  color: #1976d2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.custom-search{
  font-size: 15px;
}

.lg-modal .modal-dialog{
  max-width:80%!important;
}

.cursor-pointer{
  cursor:pointer;
}
